@import "../../../styles";

canvas {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  border: 1px solid #D8D8D8;
  border-radius: 3px;
  cursor: pointer;
  background-color: white;
  display: inline-block;
  margin-bottom: -3px;
  @include selectable(none);
}
