<!--suppress AngularUndefinedBinding, HtmlUnknownAttribute -->
<div><canvas #canvas [tabindex]="disabled ? -1 : 0" contenteditable="true"
  autocomplete="off" autocapitalize="off" autocorrect="off"
  (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp() " (click)="onClick($event)"
  (mouseleave)="onMouseLeave()"
  (keydown)="onKeyDown($event)" (keyup)="onKeyUp()" (keypress)="onKeyPress($event)"
  (focus)="onFocus(true)" (blur)="onFocus(false)"
  (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)"
  [@displayState]="displayState" (@displayState.start)="onAnimate()"
  (@displayState.done)="onAnimate()"></canvas></div>
