@import "../../../styles";

.search-controls {
  display: table;
  border-spacing: 0.75em 0;
  margin-left: -0.75em;
}

.top-caption-row, .search-row, .bottom-caption-row {
  display: table-row;
}

.top-caption-row span, .bottom-caption-row span {
  @extend .small-caption;
  display: table-cell;
}

.bottom-caption-row span {
  padding-top: 2px;
  padding-bottom: 6px;
  vertical-align: top;
}

.search-row > span {
  display: table-cell;
  vertical-align: middle;
}

input.city-field {
  width: 19em;
}

.map-wrapper {
  position: absolute;
  top: 85px;
  right: 16px;
  width: 300px;
  height: 300px;
}

.atlas-map, .map-mask {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #999;
}

.flag-image {
  width: 16px;
  height: 11px;
  position: relative;
  top: 3px;
  padding: 1px;
  border: lightgray 1px solid;
  box-sizing: content-box;
}

.results-table {
  display: block;
  height: 312px;
  margin-bottom: 12px;
  padding-top: 12px;
  width: 448px;
}
