:host {
  background-color: transparent;
  font-size: 1.2em;
  height: 1.5em;
  margin: 1em;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: calc(1em + 37px);

  .content {
    align-items: center;
    background-color: orange;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    pointer-events: auto;

    .title {
      font-weight: bold;
      padding-bottom: 0.25em;
    }

    .times {
      column-gap: 1em;
      display: grid;
      grid-template-columns: repeat(3, auto);
      place-items: center;
    }
  }
}
