:host {
  background-color: transparent;
  font-size: 1.2em;
  height: 1.5em;
  margin: 1em 0.5em;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 1.33em;

  i.pi-chevron-down {
    cursor: pointer;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.5s ease-in-out;

    &.collapsed {
      transform: rotate(90deg);
    }
  }

  .content {
    align-items: stretch;
    background-color: orange;
    display: flex;
    flex-direction: column;
    max-height: 135px;
    min-width: 340px;
    overflow: hidden;
    padding: 0.5em;
    pointer-events: auto;
    transition: max-height 0.5s ease-in-out, min-width 0.5s ease-in-out;

    &.collapsed {
      max-height: 2em;
      min-width: 250px;
    }

    .squeezable {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      max-width: 360px;
      transition: max-width 0.5s ease-in-out;

      &.collapsed {
        max-width: 250px;
      }
    }

    .title, .collapsed-title {
      font-weight: bold;
      opacity: 1;
      pointer-events: none;
      text-align: center;
      transition: opacity 0.5s ease-in-out;

      &.collapsed {
        opacity: 0;
      }
    }

    .collapsed-title {
      height: 0;
      opacity: 0;
      overflow: visible;

      &.collapsed {
        opacity: 1;
      }
    }

    .subtitle {
      opacity: 1;
      text-align: center;
      transition: opacity 0.5s ease-in-out;

      &.collapsed {
        opacity: 0;
      }
    }

    .time-link {
      color: #00C;
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: #37F;
      }
    }

    .footnote {
      font-size: 0.75em;
      font-style: italic;
      padding-top: 0.25em;
    }

    .times {
      column-gap: 1em;
      display: grid;
      grid-template-columns: repeat(4, max-content);
      justify-content: center;
      justify-items: stretch;

      .column-header {
        font-size: 0.75em;
        font-weight: bold;
        padding-top: 0.33em;
        text-align: center;
        text-transform: uppercase;
      }

      .row-label {
        text-align: right;
      }

      .duration {
        text-align: right;
      }
    }
  }
}
