:host {
  background-color: transparent;
  font-size: 1.2em;
  height: 1.5em;
  margin: 1em;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: calc(1em + 37px);

  .content {
    align-items: stretch;
    background-color: orange;
    display: flex;
    flex-direction: column;
    min-width: 330px;
    padding: 0.5em;
    pointer-events: auto;

    .title {
      font-weight: bold;
      text-align: center;
    }

    .subtitle {
      text-align: center;
    }

    .time-link {
      color: #00C;
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: #37F;
      }
    }

    .footnote {
      font-size: 0.75em;
      font-style: italic;
      padding-top: 0.25em;
    }

    .times {
      column-gap: 1em;
      display: grid;
      grid-template-columns: repeat(4, auto);
      justify-items: stretch;

      .column-header {
        font-size: 0.75em;
        font-weight: bold;
        padding-top: 0.33em;
        text-align: center;
        text-transform: uppercase;
      }

      .row-label {
        text-align: right;
      }
    }
  }
}
