<div class="header">
  <div class="arrow" (touchstart)="onTouchStart($event, -1)" (touchend)="stopTimer()"
    (mousedown)="onMouseDown($event, -1)" (mouseup)="stopTimer()" (mouseleave)="stopTimer()"
    (click)="onClick($event, -1)"><i class="fas fa-chevron-left"  aria-hidden="true"></i></div>
  <div class="title" (click)="onTitleClick()">&nbsp;
    <div *ngFor="let n of counter(modeCount)" [class.inactive]="selectMode !== n">{{title[n]}}</div>
  </div>
  <div class="arrow" (touchstart)="onTouchStart($event, 1)" (touchend)="stopTimer()"
    (mousedown)="onMouseDown($event,  1)" (mouseup)="stopTimer()" (mouseleave)="stopTimer()"
    (click)="onClick($event,  1)"><i class="fas fa-chevron-right" aria-hidden="true"></i></div>
</div>
<div class="table-wrapper">
  <table [class.inactive]="selectMode !== 0">
    <tr>
      <th *ngFor="let d of daysOfWeek" class="day-header">{{d}}</th>
    </tr>
    <tr *ngFor="let week of calendar">
      <td *ngFor="let day of week" [ngClass]="{
          'highlight':   day.highlight,
          'short-day':   day.shortDay,
          'long-day':    day.longDay,
          'other-month': day.otherMonth,
          'void-day':    day.voidDay
        }"
        (click)="onDayClick(day)">{{day.text}}</td>
    </tr>
  </table>
  <ng-container *ngFor="let n of counter(modeCount)" [ngTemplateOutlet]="altTable" [ngTemplateOutletContext]="{ mode: n }"></ng-container>
  <ng-template #altTable let-mode="mode">
    <table class="alt-table" [class.inactive]="selectMode === 0 || mode !== selectMode">
      <tr *ngFor="let row of counter(rows)">
        <td *ngFor="let col of counter(cols)">{{getTableValue(row, col, mode)}}</td>
      </tr>
    </table>
  </ng-template>
</div>
