:host {
  & > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 100%;

    div, ks-checkbox, ks-dropdown {
      flex: 0 0 auto;
    }
  }

  ::ng-deep .p-dropdown {
    width: 100%;
  }
}
