<div class="wrapper">
  <p-select #pSelect [options]="primeOptions" [(ngModel)]="primeValue" appendTo="body"
    [disabled]="(options.length === 0 && !editable) || disabled"
    (onFocus)="onDropdownFocus($event)" (onBlur)="onDropdownBlur($event)" [scrollHeight]="scrollHeight"
  [editable]="editable"></p-select>
  <!-- TODO: Disable special touch interface mode for now --> <!--suppress PointlessBooleanExpressionJS -->
  @if (useSelect) {
    <select tabindex="0" [(ngModel)]="selectValue"
      (touchstart)="onTouchStart()"
      (click)="selectClick($event)">
      @for (option of selectOptions; track $index; let i = $index) {
        <option [value]="i">{{option}}</option>
      }
    </select>
  }
</div>
