@import "../../../styles";

:host > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 100%;

  ks-checkbox {
    flex: 0 0 auto;
  }
}

.zoom-caption {
  @extend .small-caption;
  display: table-cell;
  text-align: center;
  padding-top: 2px;
}

p-slider {
  margin-top: 0.5em;
}

.default-zoom {
  position: relative;
  top: 2px;
  padding: 3px !important;
  width: 1.75em;
}

.grs, .zoom {
  align-content: center;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;

  button {
    flex: 0 0 auto;
  }

  p-slider {
    flex: 1 0 auto;
  }
}
