<div class="flex-container" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="4px">
  <ks-checkbox fxFlex="0 0 auto" [(ngModel)]="northOnTop" binary="true" label="North on top"></ks-checkbox>
  <ks-checkbox fxFlex="0 0 auto" [(ngModel)]="eastOnLeft" binary="true" label="Celestial east on left"></ks-checkbox>
  <ks-checkbox fxFlex="0 0 auto" [(ngModel)]="moonNumbers" binary="true" label="Moon numbers"></ks-checkbox>
  <ks-checkbox fxFlex="0 0 auto" [(ngModel)]="moonNames" binary="true" label="Moon names"></ks-checkbox>
  <ks-checkbox fxFlex="0 0 auto" [(ngModel)]="photoPlanets" binary="true" label="Photographic planets"></ks-checkbox>
  <ks-checkbox fxFlex="0 0 auto" [(ngModel)]="markGrs" binary="true" label="Mark GRS center"></ks-checkbox>
  <div fxFlex="0 0 auto" class="flex-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
    <ks-checkbox fxFlex="0 0 auto" [(ngModel)]="grsOverride" binary="true" label="Set GRS long.:"></ks-checkbox>
    <tbw-angle-editor fxFlex="0 0 auto" [options]="{ angleStyle: DDD, decimalPrecision: 1 }" [(ngModel)]="fixedGrs" [disabled]="!grsOverride"></tbw-angle-editor>
  </div>
  <div fxFlex="0 0 auto" class="flex-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
    <p-slider fxFlex="1 0 auto" [(ngModel)]="reverseZoom" [min]="0" [max]="zoomSteps"></p-slider>
    <button fxFlex="0 0 auto" pButton type="button" class="default-zoom" label="&bull;" (click)="setDefaultZoom()"></button>
  </div>
  <div fxFlex="0 0 auto" class="zoom-caption">zoom</div>
</div>
