@import "../../../styles";

.zoom-caption {
  @extend .small-caption;
  display: table-cell;
  text-align: center;
  padding-top: 2px;
}

p-slider {
  margin-top: 0.5em;
}

.default-zoom {
  position: relative;
  top: 2px;
  padding: 3px !important;
  width: 1.75em;
}
