@import "../../../styles";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 100%;
}

hr {
  width: 12em;
  border: 1px #D8D8D8 solid;
  margin-top: -1px !important;
  margin-bottom: 4px !important;
}

.inc-dec-panel {
  align-self: center;
  display: table;
  flex: 0 0 auto;
}

.inc-dec-pair {
  display: table-row;
}

.inc-dec-pair button {
  margin: 0.333em;
}

.inc-dec-pair span {
  display: table-cell;
  padding: 0.333em;
  text-align: center;
  vertical-align: middle;
}

.first-day-caption {
  @extend .small-caption;
  text-align: center;
}

ks-checkbox, ks-dropdown {
  flex: 0 0 auto;
}
