<div class="orbitControls">Select an orientation...
  <button pButton type="button" icon="fa-chevron-left" (click)="changeOrientation(1, 0)"></button>
  <span [hidden]="rotation_xz < 0">&#x2008;</span>{{rotation_xz | number: '3.1-1'}}&deg;
  <button pButton type="button" icon="fa-chevron-right" (click)="changeOrientation(-1, 0)"></button>&nbsp;
  <button pButton type="button" icon="fa-chevron-down" (click)="changeOrientation(0, -1)"></button>
  <span [hidden]="rotation_yz < 0">&#x2008;</span>{{rotation_yz | number: '3.1-1'}}&deg;
  <button pButton type="button" icon="fa-chevron-up" (click)="changeOrientation(0, 1)"></button>
  ...or drag view below.&nbsp;
  <button pButton type="button" (click)="resetOrientation()" label="Reset to 0&deg;"
    [disabled]="rotation_xz === 0 && rotation_yz === 0"></button>
</div>
<div #canvasWrapper class="canvasWrapper">
  <div class="canvasAnchor">
    <canvas #orbitCanvas (window:resize)="onResize()"
            (mousedown)="onMouseDown($event)"
            (mousemove)="onMouseMove($event)"
            (mouseup)="onMouseUp($event)"
            (wheel)="onWheel($event)"
            [style.cursor]="cursor"
    ></canvas>
  </div>
</div>
<div #marquee class="marquee">&nbsp;{{marqueeText}}&nbsp;</div>
