@import "../../../styles";

:host > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 100%;

  & > * {
    flex: 0 0 auto;
  }
}

.zoom-caption {
  @extend .small-caption;
  display: table-cell;
  text-align: center;
  padding-top: 2px;
}

p-slider {
  margin-top: 0.75em;
}

p-dropdown ::ng-deep .p-dropdown {
  width: 100%;
}

.marker-legend {
  background-color: #EEEEEE;
  padding: 0.5em;
}

.glasses-3d {
  vertical-align: middle;
}

.faded {
  opacity: 0.33;
}

.anaglyph {
  align-content: center;
  align-items: center;
  display: flex;
  gap: 4px;
}

.anaglyph-radio {
  padding-left: 0.25em;

  img {
    cursor: pointer;
    padding-left: 0.25em;

    &.faded {
      cursor: default;
    }
  }

  p-radioButton {
    display: inline-block;
    padding: 3px 3px 3px 0;
  }
}
