@import "../../../styles";

:host {
  align-items: center;
  display: inline-flex;
  position: relative;
}

label {
  padding-left: 0.5rem;
  pointer-events: auto;
  @include selectable(none);
}

.faded {
  opacity: 0.33;
}
