@import "../../../styles";

:host ::ng-deep select {
  width: 12em;

  ::ng-deep {
    .p-dialog-content {
      overflow: hidden;
    }
  }
}

.latlong {
  display: table;
  border-spacing: 4px 0;
}

.latlong-values, .latlong-captions {
  display: table-row;
}

tbw-angle-editor {
  display: table-cell;
}

.latlong-caption {
  @extend .small-caption;
  display: table-cell;
  text-align: center;
  padding-top: 2px;
}

hr {
  width: 12em;
  border: 1px #D8D8D8 solid;
  margin-top: 0;
  margin-bottom: 6px !important;
}

svc-zone-selector,
ks-dropdown {
  width: 100%;

  ::ng-deep .p-dropdown {
    width: 100%;
  }
}
