@import "../../../styles";

.latlong {
  display: table;
  border-spacing: 4px 0;
}

.latlong-values, .latlong-captions {
  display: table-row;
}

svc-angle-editor {
  display: table-cell;
}

.latlong-caption {
  @extend .small-caption;
  display: table-cell;
  text-align: center;
  padding-top: 2px;
}

hr {
  width: 12em;
  border: 1px #D8D8D8 solid;
  margin-top: 0;
  margin-bottom: 6px !important;
}

::ng-deep .ui-growl {
  width: auto;
}

::ng-deep .ui-growl-message {
  padding-right: 1em;
}

:host ::ng-deep select {
  width: 12em;
}

:host ::ng-deep .ui-dialog-content {
  overflow: hidden;
}

svc-zone-selector,
ks-dropdown {
  width: 100%;

  ::ng-deep .ui-dropdown {
    width: 100%;
  }
}
