:host > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 100%;
}

.twilight-legend, .moonlight-legend {
  background-color: #EEEEEE;
  padding: 0.5em;
  text-align: center;
}
