:host > div {
  align-content: center;
  align-items: center;
  display: flex;
  gap: 4px;
  position: relative;

  .busy {
    align-items: center;
    background: rgba(black, 0.2);
    bottom: 0;
    display: none; // toggles to flex
    left: 0;
    justify-content: center;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
  }
}
