@import "../../../styles";

:host {
  position: relative;
}

span {
  cursor: default;
  padding-left: 0.5em;
  position: relative;
  top: -0.0625em;
  @include selectable(none);
}

.faded {
  opacity: 0.33;
}
