<div class="zone-selector">
  <div class="zone-selector-row">
    <ks-dropdown [options]="regions"  [(ngModel)]="region"  [disabled]="disabled" (focus)="onDropdownFocus($event)"
                 (blur)="onDropdownBlur($event)" scrollHeight="420px"></ks-dropdown><br>
  </div>
  <div class="zone-selector-row">
    <span class="caption">timezone region/category &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
  </div>
  <div class="zone-selector-row">
    <ks-dropdown [options]="subzones" [(ngModel)]="subzone" [disabled]="disabled" (focus)="onDropdownFocus($event)"
                 (blur)="onDropdownBlur($event)" scrollHeight="300px"></ks-dropdown><br>
  </div>
  <div class="zone-selector-row">
    <span class="caption">specific timezone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </div>
  <p [hidden]="!error" class="error">{{error}}</p>
</div>
