@import "../../../styles";

:host ::ng-deep select {
  width: 12em;
}

.caption {
  @extend .small-caption;
  padding-bottom: 6px;
  vertical-align: top;
  text-align: center;
}

.error {
  color: red;
}

.mode-selector {
  padding: 0.33em 0;

  ::ng-deep .p-radiobutton-label {
    font-size: 0.9em;
    margin-left: 0.25em;
  }
}

.zone-selector {
  position: relative;
  width: 100%;
}

.zone-selector-row {
  display: table-row;
}

.ks-dropdown {
  display: table-cell;
}

.by-offset, .by-region {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.by-offset {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}
