table {
  margin-left: auto !important;
  margin-right: auto !important;
  padding-top: 3em;
}

th, td {
  font-size: 1.2em;
}

td.value {
  font-family: "Andale Mono", "Courier New", monospace;
  padding-left: 0.5em;
  -webkit-text-stroke-width: 0.33px;
}

.local-time {
  padding-bottom: 0.5em;
}

.footnote, .full-footnote {
  color: #D3A;
}

.full-footnote {
  padding-top: 0.5em;
}
