$theme-font: 12px Arial, Helvetica, sans-serif;
$table-cell-border-color: #C8C8C8;
$input-border-default-color: #D8D8D8;
$input-border-hover-color: #8BF;
$input-border-focus-color: #5E9ED6;
$input-border-focus-shadow-color: #8DCDFF;

html {
  font: $theme-font;
}

.p-button {
  border-radius: 3px !important;
  padding: 0.25rem 0.8rem 0.15rem 0.8rem !important;
}

.p-inputtext {
  border-radius: 3px !important;
  padding: 0.25rem 0.4rem 0.15rem 0.4rem !important;
}

.p-select-label {
  padding: 0.25rem !important;
}

.p-select {
  border-radius: 0.3rem !important;
  justify-content: space-between;
  min-width: 12.5em;

  .p-select-dropdown {
    position: relative;
    width: 1.25rem !important;

    .p-select-dropdown-icon {
      left: -3px;
      position: relative;
    }
  }

  p-overlay {
    position: absolute;
  }
}

.p-datatable {
  .p-datatable-tbody >tr > td,
  .p-datatable-thead >tr > th {
    padding: 0.25rem 0.5rem;
  }
}

.atlas-table {
  .p-datatable {
    .p-datatable-tbody >tr > td,
    .p-datatable-thead >tr > th {
      border: 1px solid $table-cell-border-color;
    }

    .p-datatable-table-container {
      overflow-x: clip !important;
    }
  }
}

.p-datatable-table-container {
  &::before {
    border-top: 1px solid $table-cell-border-color;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &::after {
    border-bottom: 1px solid $table-cell-border-color;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  table {
    width: 100%;
  }

  .p-datatable-thead  {
    display: table-header-group !important;

    > tr {
      display: table-row !important;
      flex-wrap: initial !important;

      > th {
        display: table-cell !important;
        flex: initial !important;

        &::after {
          border-bottom: 1px solid $table-cell-border-color;
          content: '';
          display: block;
          height: 1px;
          left: 0;
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      }
    }
  }

  .p-datatable-tbody {
    display: table-row-group !important;

    > tr {
      display: table-row !important;
      flex-wrap: initial !important;

      > td {
        display: table-cell !important;
        flex: initial !important;
      }
    }
  }

  .p-datatable-tfoot {
    display: table-footer-group !important;

    > tr {
      display: table-row !important;
      flex-wrap: initial !important;

      > td {
        display: table-cell !important;
        flex: initial !important;
      }
    }
  }
}

p-dialog {
  .p-dialog-footer {
    .p-dialog-buttonpane {
      display: flex;
      gap: 1rem;
    }
  }
}

.p-button.p-button-icon-only {
  min-width: 1.9rem;
  padding: 0.1875rem 0 0.15rem 0 !important;
  width: auto !important;

  .p-button-text {
    padding: 0.25rem !important;
  }
}
