// styles in src/style directory are applied to the whole page
@import 'primeng-theme-tweaks';

@mixin selectable($state) {
  -webkit-touch-callout: $state;
  -webkit-user-select: $state;
  -moz-user-select: $state;
  -ms-user-select: $state;
  user-select: $state;
}

@font-face {
  font-family: Astronomy;
  src: url("/assets/resources/Astronomy.ttf");
  unicode-range: U+263C-2653;
}

.small-caption {
  color: #00C;
  font-size: 75%;
  cursor: default;
  @include selectable(none);
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: white;
  color: black;
  font-size: 12px;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.appWrapper {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 4px;
}

.error-caption {
  color: #C00;
  font-style: italic;
  font-size: 11px;
}
