:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  ::ng-deep {
    table.table-view {
      border-collapse: collapse;
      margin-right: 1em;
    }

    table.table-view td,
    table.table-view th {
      padding-right: 2em;
    }

    table.table-view tr td:last-child,
    table.table-view tr th:last-child {
      padding-right: 0;
    }

    table.table-view td {
      font-family: Courier New, monospace;
      white-space: pre;
    }

    table.table-view tr td:first-child {
      font-family: inherit;
      font-weight: bold;
      text-align: right;
    }
  }
}

div.wrapper {
  position: relative;
  flex-grow: 1;
}

.table-container {
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  white-space: nowrap;
}

.table-controls {
  padding: 4px;
  border-bottom: lightgray 1px solid;
}
