:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

div.wrapper {
  position: relative;
  flex-grow: 1;
}

.table-container {
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  white-space: nowrap;
}

.table-controls {
  padding: 4px;
  border-bottom: lightgray 1px solid;
}

::ng-deep table.table-view {
  border-collapse: collapse;
}

::ng-deep table.table-view td, ::ng-deep table.table-view th {
  padding-right: 2em;
}

::ng-deep table.table-view tr td:last-child, ::ng-deep table.table-view tr th:last-child {
  padding-right: 0;
}

::ng-deep table.table-view td {
  font-family: Courier New, monospace;
  white-space: pre;
}

::ng-deep table.table-view tr td:first-child {
  font-family: inherit;
  font-weight: bold;
  text-align: right;
}
